body {
    font-size: 1.2rem;
}
h3 {
    font-size: 3rem;
}
h3 + p {
    font-size: 1.2rem;
    min-height: 4rem;
}

.counter {
    padding: 10px;
}
.counter > span {
    font-size: 4rem;
    font-weight: bold;
}
.counter > span + span {
    font-size: 2rem;
    padding-left: 1rem;
}

.counter-warning * {
    color: #FE5F55;
}

.counter-info * {
    color: #299A9E
}

.counter-good * {
color: #2BD8A4
}

table {
    margin: 0;
    width: 100%;
}
thead {
    font-weight: bold;
    font-size: 1.5rem;
}

tbody tr {
    border-top: 1px solid gray;
}

td {
    padding: 15px;
}

table {
    border-spacing: 5px;
}

canvas {
    margin: 0;
    padding: 0;
    border-radius: 0.2rem;
}