.widget {
    background: #ffffff;
    border-radius: 0.2rem;
}

.widget-content {
    padding: 1.5rem; 
}

.widget-row {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0; 
}

.widget-content > h3 {
    margin-bottom: 3rem;
}
.counter {
    padding: 10px;
    font-size: 2rem;

}

.counter-warning * {
    color: #da0c0c;
}

.counter-info * {
    color: #265dc5
}

.counter-good * {
color: #059711
}

canvas {
    margin: 0;
    padding: 0;
    border-radius: 0.2rem;
}