:root {
    --dark1:#17202B;
    --dark2:#23303E;
    --dark3:#49515A;

    --light1:#ffffff;
    --light2:#EAEAEA;
    --light3:#d3d3d3;
    --light4:#bdbdbd;

}

.background-dark1 {
    background: var(--dark1);
    color: var(--light1);
}
.background-dark2 {
    background: var(--dark2);
    color: var(--light2);
}
.background-dark3 {
    background: var(--dark3);
    color: var(--light3);
}
.background-light1 {
    background: var(--light1);
    color: var(--dark1);
}
.background-light2 {
    background: var(--light2);
    color: var(--dark2);
}
.background-light3 {
    background: var(--light3);
    color: var(--dark3);
}

body {
    background: var(--dark1);
    color: var(--light1);
    height: 100%;
}

.widget-row {
    background: var(--dark2);
    border-radius: 0.2rem;
}

.widget-content {
    padding: 1.5rem;
    width: 100%; 
}

.widget-row {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0; 
}

.widget-text {
    font-size: 1.2rem;
}

form + .card-title {
    margin-top: 3%;
}

.action-button {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}