:root {
    --primary-dark:#13171E;
    --primary-light:#EAEAEA;
    --accent-dark:#E4BC53;
    --accent-light:#CECCB2;

    --background:#37515E;
}

body {
    background: var(--background);
    position: relative;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}

.sidebar {
    background: var(--primary-dark);
    box-shadow: 0px 0px 40px black;

    margin-left: -250px;
    left: 250px;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    transition: all 0.4s ease 0s;
}

.wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

.content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.card {   
    box-shadow: 0px 0px 20px black;
    padding: 3%;
    margin: 3%;
}

form + .card-title {
    margin-top: 3%;
}