.nav-item {
    margin: 20px !important;
    padding: 10px !important;
}

.active {
    background: var(--accent-light);
    color: var(--primary-dark);
    box-shadow: 0px 5px 0px var(--accent-dark);
}